.ct-section {
  max-width: 1170px;
  margin: 120px auto;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.ct-heading {
  font-size: 31.25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232233;
}

.ct-subtext {
  max-width: 600px;
  margin: 20px auto 60px;
  color: #6c6c72;
  line-height: 24px;
}

.ct-grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.ct-card {
  width: 370px;
  padding: 40px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.ct-avatar-wrap {
  width: 220px;
  height: 220px;
  margin: 0 auto 20px;
  padding: 10px;
  border: 4px solid #5956e9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ct-avatar-wrap img {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  object-fit: cover;
}

.ct-name {
  font-size: 31.25px;
  text-transform: uppercase;
  color: #232233;
  margin-top: 20px;
}

.ct-role {
  font-size: 20px;
  text-transform: uppercase;
  color: #6c6c72;
  margin: 10px 0;
}

.ct-desc {
  font-size: 16px;
  color: #6c6c72;
  line-height: 24px;
  margin: 15px 0 25px;
}

.ct-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.ct-socials i {
  font-size: 18px;
  color: #232233;
  cursor: pointer;
}

.ct-socials span {
  height: 23px;
  width: 1px;
  background: #6c6c72;
}
@media (max-width: 900px) {
    .ct-grid{
        margin-left:10px ;
    }
}